.bg-footer {
	background: #cb3362;
	padding: 40px;
}

.bg-footer li {
	display: inline-block;
	margin: 0 20px;
}

.bg-footer ul {
	text-align: center;
}

.bg-footer p {
	font-size: 12px;
	color: #ffffff;
	font-weight: 400;
	font-family: 'Roboto';
    font-style: normal;
	text-align: center;
    margin-top: 10px;
}
