@import './fonts.css';
@import '../blocks-css/banerHome.css';
@import '../blocks-css/header.css';
@import '../blocks-css/box.css';
@import '../blocks-css/box2.css';
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style-type: none;
}

body {
	background: #fff;
}

.container-fluid {
	box-sizing: border-box;
	width: 100%;
	clear: both;
}

.container {
	box-sizing: border-box;
	width: 960px;
	margin: 0 auto;
}
